accelerate==0.27.2
deepspeed==0.13.3
peft==0.8.2
sentencepiece==0.2.0
lm_eval==0.4.2
rouge-score==0.1.2
datasets==2.18.0
editdistance
torch==2.3.1
transformers==4.37.2
opacus==1.4.1
fastchat
Jinja2
sentence-transformers

